/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,700&family=Poppins:ital,wght@1,400;1,600&family=Roboto:wght@300&display=swap');

:root{
  --simple-family: 'Roboto', sans-serif;
}

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  /* background: #11101D; */
  background-color: rgb(2, 151, 2);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .logo_icon{
  opacity: 1;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  font-family: var(--simple-family);
  text-transform: capitalize;
  opacity: 0;
  margin-left: 8px;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .logo_icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin: 20px 0px;
  padding: 0px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  font-family: var(--simple-family);
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: var(--simple-family);
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.section{
  position: relative;
  /* background: #E4E9F7; */
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  /* z-index: 2; */
}
.sidebar.open ~ .section{
  left: 250px;
  width: calc(100% - 250px);
}
.section #nav_box{
  background-color: rgb(2, 151, 2);
}
.section #nav_box nav{
  padding: 0px !important;
}
.section #nav_box .container-fluid{
  padding: 0px !important;
}
.section #btn{
  position: relative;
  top: 20%;
  left: 0%;
  margin-left: 48px !important;
  margin-top: 39px;
  background-color: #dad8d8;
  border-radius: 6px;
  padding: 6px;
  transform: translateY(-50%);
  font-size: 28px !important;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer !important;
  transition: all 0.5s ease;
}
.section #nav_box ul{
  padding: 0px;
  margin: 0px;
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}